@model IEnumerable<Category>
@{
    ViewBag.PageTitle = "Category Managment";
    ViewBag.CardTitle = "List Of Category";
}
<div class="m-3">
    <a  asp-area="Admin" asp-controller="Category" asp-action="Create" class="btn btn-primary">Create New Category</a>
</div>

<table class="table">
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Date Created</td>
        <td>Actions</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.CreatedTime</td>

            <td>
                <a class="btn btn-success" asp-area="Admin" asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id" >
                    Edit
                </a>
                <a class="btn btn-danger" asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id">
                    Delete
                </a>
            </td>
        </tr>
    }
</table>

