@model IPagedList<Product>
@using X.PagedList.Mvc.Core
@using X.PagedList
@using X.PagedList.Web.Common

<link href="~/css/home.css" rel="stylesheet" />

<section class="full-page">
    <div class="container-fluid">
        <div class="row justify-content-center gx-5 gy-4">
            @foreach (var item in Model)
            {
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100">
                        <!-- Product image-->
                        <a asp-controller="Home" asp-action="Details" asp-route-Id="@item.Id">
                            <img class="card-img-top" src="/@item.Img" alt="..." />
                        </a>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@item.Name</h5>
                                <span class="price">@item.Price.ToString("C")</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" asp-controller="Home" asp-action="Details" asp-route-Id="@item.Id">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Pagination -->
        <div class="d-flex justify-content-center mt-4">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                     new PagedListRenderOptions
            {
                UlElementClasses = new[] { "pagination" },
                LiElementClasses = new[] { "page-item" },
                PageClasses = new[] { "page-link" },
                LinkToPreviousPageFormat = "«",
                LinkToNextPageFormat = "»",
                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                DisplayLinkToNextPage = PagedListDisplayMode.Always,
                DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                DisplayLinkToLastPage = PagedListDisplayMode.Never,
                MaximumPageNumbersToDisplay = 5
            })
        </div>
    </div>
</section>

